In [1]:
import keras
from keras.models import Sequential
from keras.layers import Dense
from keras.utils import to_categorical
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Using TensorFlow backend.

In [2]:
# The code was removed by Watson Studio for sharing.

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [3]:
train_body = client_34618b67087348bc93a2e29e3a80b20d.get_object(Bucket='kaggle-donotdelete-pr-f8uklxjuxuvozp',Key='train.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(train_body, "__iter__"): train_body.__iter__ = types.MethodType( __iter__, train_body )

train = pd.read_csv(train_body)
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
train = train[['Pclass','Sex','Age','SibSp','Parch','Fare','Survived']]
train.dropna(inplace=True)
train.shape

(714, 7)

In [5]:
x_train = train[['Pclass','Sex','Age','SibSp','Parch','Fare']]
x_train.dropna(inplace=True)
x_train['Sex'].replace({'female':0, 'male':1}, inplace=True)
x_train['Age'] = x_train['Age'] / np.max(x_train['Age'])
x_train['Pclass'] = x_train['Pclass'] / np.max(x_train['Pclass'])
x_train['Fare'] = x_train['Fare'] / np.max(x_train['Fare'])
x_train.head()

/opt/conda/envs/Python36/lib/python3.6/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/opt/conda/envs/Python36/lib/python3.6/site-packages/pandas/core/generic.py:6586: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)
/opt/conda/envs/Python36/lib/python3.6/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/opt/conda/envs/Python36/lib/python3.6/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/opt/conda/envs/Python36/lib/python3.6/site-packages/ipykernel/__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

     Pclass  Sex     Age  SibSp  Parch      Fare
0  1.000000    1  0.2750      1      0  0.014151
1  0.333333    0  0.4750      1      0  0.139136
2  1.000000    0  0.3250      0      0  0.015469
3  0.333333    0  0.4375      1      0  0.103644
4  1.000000    1  0.4375      0      0  0.015713

In [6]:
x_test = test[['PassengerId','Pclass','Sex','Age','SibSp','Parch','Fare']]
x_test.dropna(inplace=True)
x_test['Sex'].replace({'female':0, 'male':1}, inplace=True)
x_test['Age'] = x_test['Age'] / np.max(x_test['Age'])
x_test['Pclass'] = x_test['Pclass'] / np.max(x_test['Pclass'])
x_test['Fare'] = x_test['Fare'] / np.max(x_test['Fare'])
x_test.head()

/opt/conda/envs/Python36/lib/python3.6/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/opt/conda/envs/Python36/lib/python3.6/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/opt/conda/envs/Python36/lib/python3.6/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/opt/conda/envs/Python36/lib/python3.6/site-packages/ipykernel/__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

   PassengerId    Pclass  Sex       Age  SibSp  Parch      Fare
0          892  1.000000    1  0.453947      0      0  0.015282
1          893  1.000000    0  0.618421      1      0  0.013663
2          894  0.666667    1  0.815789      0      0  0.018909
3          895  1.000000    1  0.355263      0      0  0.016908
4          896  1.000000    0  0.289474      1      1  0.023984

In [7]:
y_train = train['Survived']
y_train.dropna(inplace=True)
y_train.shape

(714,)

In [8]:
n_cols = x_train.shape[1]

In [9]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(50, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(50, activation='relu'))
    model.add(Dense(1, activation='relu'))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error', metrics=['accuracy'])
    return model

In [10]:
# build the model
our_model = regression_model()

WARNING:tensorflow:From /opt/conda/envs/Python36/lib/python3.6/site-packages/tensorflow/python/framework/op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.

In [11]:
# fit the model
our_model.fit(x_train, y_train, validation_split=0.3, epochs=50)

WARNING:tensorflow:From /opt/conda/envs/Python36/lib/python3.6/site-packages/tensorflow/python/ops/math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
Train on 499 samples, validate on 215 samples
Epoch 1/50
499/499 [==============================] - 1s 2ms/step - loss: 0.3265 - acc: 0.5832 - val_loss: 0.2642 - val_acc: 0.5721
Epoch 2/50
499/499 [==============================] - 0s 825us/step - loss: 0.2428 - acc: 0.5872 - val_loss: 0.2249 - val_acc: 0.6419
Epoch 3/50
499/499 [==============================] - 0s 720us/step - loss: 0.2118 - acc: 0.6834 - val_loss: 0.2058 - val_acc: 0.7535
Epoch 4/50
499/499 [==============================] - 0s 525us/step - loss: 0.1934 - acc: 0.7655 - val_loss: 0.1874 - val_acc: 0.7674
Epoch 5/50
499/499 [==============================] - 0s 481us/step - loss: 0.1846 - acc: 0.7735 - val_loss: 0.1775 - val_acc: 0.7860
Epoch 6/50
499/499 [==============================] - 0s 520us/step - loss: 0.1784 - acc: 0.7776 - val_loss: 0.1700 - val_acc: 0.7907
Epoch 7/50
499/499 [==============================] - 1s 2ms/step - loss: 0.1738 - acc: 0.7756 - val_loss: 0.1671 - val_acc: 0.7860
Epoch 8/50
499/499 [==============================] - 0s 480us/step - loss: 0.1713 - acc: 0.7836 - val_loss: 0.1637 - val_acc: 0.7814
Epoch 9/50
499/499 [==============================] - 1s 1ms/step - loss: 0.1691 - acc: 0.7816 - val_loss: 0.1627 - val_acc: 0.7721
Epoch 10/50
499/499 [==============================] - 0s 483us/step - loss: 0.1628 - acc: 0.7836 - val_loss: 0.1577 - val_acc: 0.7860
Epoch 11/50
499/499 [==============================] - 0s 533us/step - loss: 0.1657 - acc: 0.7876 - val_loss: 0.1563 - val_acc: 0.7814
Epoch 12/50
499/499 [==============================] - 1s 1ms/step - loss: 0.1629 - acc: 0.7856 - val_loss: 0.1520 - val_acc: 0.7814
Epoch 13/50
499/499 [==============================] - 0s 477us/step - loss: 0.1598 - acc: 0.7896 - val_loss: 0.1511 - val_acc: 0.7860
Epoch 14/50
499/499 [==============================] - 0s 484us/step - loss: 0.1569 - acc: 0.7756 - val_loss: 0.1477 - val_acc: 0.7814
Epoch 15/50
499/499 [==============================] - 0s 507us/step - loss: 0.1558 - acc: 0.7876 - val_loss: 0.1468 - val_acc: 0.7953
Epoch 16/50
499/499 [==============================] - 0s 477us/step - loss: 0.1558 - acc: 0.7856 - val_loss: 0.1458 - val_acc: 0.7860
Epoch 17/50
499/499 [==============================] - 0s 481us/step - loss: 0.1541 - acc: 0.7896 - val_loss: 0.1464 - val_acc: 0.7953
Epoch 18/50
499/499 [==============================] - 0s 521us/step - loss: 0.1517 - acc: 0.7916 - val_loss: 0.1439 - val_acc: 0.7814
Epoch 19/50
499/499 [==============================] - 0s 603us/step - loss: 0.1516 - acc: 0.7936 - val_loss: 0.1410 - val_acc: 0.7953
Epoch 20/50
499/499 [==============================] - 0s 519us/step - loss: 0.1503 - acc: 0.7936 - val_loss: 0.1420 - val_acc: 0.7814
Epoch 21/50
499/499 [==============================] - 0s 477us/step - loss: 0.1477 - acc: 0.7956 - val_loss: 0.1393 - val_acc: 0.8047
Epoch 22/50
499/499 [==============================] - 0s 550us/step - loss: 0.1477 - acc: 0.7996 - val_loss: 0.1385 - val_acc: 0.7953
Epoch 23/50
499/499 [==============================] - 0s 486us/step - loss: 0.1466 - acc: 0.7956 - val_loss: 0.1373 - val_acc: 0.7953
Epoch 24/50
499/499 [==============================] - 0s 522us/step - loss: 0.1477 - acc: 0.7936 - val_loss: 0.1385 - val_acc: 0.8047
Epoch 25/50
499/499 [==============================] - 0s 510us/step - loss: 0.1467 - acc: 0.7956 - val_loss: 0.1373 - val_acc: 0.8000
Epoch 26/50
499/499 [==============================] - 0s 606us/step - loss: 0.1445 - acc: 0.8036 - val_loss: 0.1362 - val_acc: 0.8047
Epoch 27/50
499/499 [==============================] - 0s 542us/step - loss: 0.1433 - acc: 0.8076 - val_loss: 0.1336 - val_acc: 0.8140
Epoch 28/50
499/499 [==============================] - 0s 479us/step - loss: 0.1428 - acc: 0.8056 - val_loss: 0.1342 - val_acc: 0.7953
Epoch 29/50
499/499 [==============================] - 0s 546us/step - loss: 0.1492 - acc: 0.8036 - val_loss: 0.1364 - val_acc: 0.8000
Epoch 30/50
499/499 [==============================] - 0s 503us/step - loss: 0.1426 - acc: 0.8096 - val_loss: 0.1320 - val_acc: 0.8233
Epoch 31/50
499/499 [==============================] - 0s 447us/step - loss: 0.1407 - acc: 0.8176 - val_loss: 0.1321 - val_acc: 0.8186
Epoch 32/50
499/499 [==============================] - 0s 511us/step - loss: 0.1411 - acc: 0.8116 - val_loss: 0.1311 - val_acc: 0.8186
Epoch 33/50
499/499 [==============================] - 0s 520us/step - loss: 0.1419 - acc: 0.8116 - val_loss: 0.1318 - val_acc: 0.8233
Epoch 34/50
499/499 [==============================] - 0s 558us/step - loss: 0.1398 - acc: 0.8176 - val_loss: 0.1329 - val_acc: 0.8047
Epoch 35/50
499/499 [==============================] - 0s 575us/step - loss: 0.1394 - acc: 0.8176 - val_loss: 0.1304 - val_acc: 0.8186
Epoch 36/50
499/499 [==============================] - 0s 500us/step - loss: 0.1407 - acc: 0.8156 - val_loss: 0.1318 - val_acc: 0.8186
Epoch 37/50
499/499 [==============================] - 0s 536us/step - loss: 0.1397 - acc: 0.8116 - val_loss: 0.1320 - val_acc: 0.8186
Epoch 38/50
499/499 [==============================] - 0s 466us/step - loss: 0.1391 - acc: 0.8096 - val_loss: 0.1330 - val_acc: 0.8233
Epoch 39/50
499/499 [==============================] - 0s 489us/step - loss: 0.1384 - acc: 0.8136 - val_loss: 0.1309 - val_acc: 0.8186
Epoch 40/50
499/499 [==============================] - 0s 505us/step - loss: 0.1370 - acc: 0.8136 - val_loss: 0.1292 - val_acc: 0.8233
Epoch 41/50
499/499 [==============================] - 0s 488us/step - loss: 0.1374 - acc: 0.8156 - val_loss: 0.1286 - val_acc: 0.8233
Epoch 42/50
499/499 [==============================] - 0s 490us/step - loss: 0.1387 - acc: 0.8076 - val_loss: 0.1301 - val_acc: 0.8233
Epoch 43/50
499/499 [==============================] - 0s 542us/step - loss: 0.1355 - acc: 0.8236 - val_loss: 0.1280 - val_acc: 0.8233
Epoch 44/50
499/499 [==============================] - 0s 483us/step - loss: 0.1359 - acc: 0.8236 - val_loss: 0.1295 - val_acc: 0.8279
Epoch 45/50
499/499 [==============================] - 0s 531us/step - loss: 0.1367 - acc: 0.8236 - val_loss: 0.1345 - val_acc: 0.8233
Epoch 46/50
499/499 [==============================] - 0s 478us/step - loss: 0.1349 - acc: 0.8216 - val_loss: 0.1295 - val_acc: 0.8279
Epoch 47/50
499/499 [==============================] - 1s 2ms/step - loss: 0.1349 - acc: 0.8176 - val_loss: 0.1283 - val_acc: 0.8326
Epoch 48/50
499/499 [==============================] - 0s 509us/step - loss: 0.1357 - acc: 0.8176 - val_loss: 0.1288 - val_acc: 0.8233
Epoch 49/50
499/499 [==============================] - 0s 477us/step - loss: 0.1364 - acc: 0.8196 - val_loss: 0.1278 - val_acc: 0.8233
Epoch 50/50
499/499 [==============================] - 0s 531us/step - loss: 0.1344 - acc: 0.8216 - val_loss: 0.1291 - val_acc: 0.8372

In [12]:
y_predictions = our_model.predict(x_test[['Pclass','Sex','Age','SibSp','Parch','Fare']], verbose=0)
y_predictions

array([[ 0.14539784],
       [ 0.46721506],
       [ 0.11840925],
       [ 0.1878207 ],
       [ 0.6169244 ],
       [ 0.26975882],
       [ 0.5654756 ],
       [ 0.43674445],
       [ 0.57771873],
       [-0.        ],
       [ 0.26605445],
       [ 1.0505544 ],
       [ 0.14010903],
       [ 1.0187408 ],
       [ 0.7963735 ],
       [ 0.2326642 ],
       [ 0.22086307],
       [ 0.37848157],
       [ 0.6420942 ],
       [ 0.36022514],
       [ 0.49966136],
       [ 0.41397715],
       [ 0.6818439 ],
       [-0.        ],
       [ 1.0912472 ],
       [ 0.21246034],
       [ 0.2966616 ],
       [ 0.11345077],
       [ 0.11846373],
       [ 0.6607886 ],
       [ 0.40621665],
       [ 0.23486999],
       [ 0.57296205],
       [ 0.19965053],
       [ 0.07398876],
       [ 0.1206032 ],
       [ 0.82940924],
       [ 1.011603  ],
       [ 0.1987909 ],
       [ 0.27040243],
       [ 0.9978584 ],
       [ 0.682235  ],
       [ 0.44623837],
       [ 0.26182613],
       [ 0.68731445],
       [ 0.9453978 ],
       [-0.        ],
       [ 0.14353138],
       [ 0.1986408 ],
       [ 1.0076275 ],
       [ 0.24364501],
       [ 0.24353006],
       [ 0.2379618 ],
       [ 0.5703248 ],
       [ 0.65907586],
       [ 0.57820183],
       [ 0.24943691],
       [ 0.36226603],
       [ 0.48100328],
       [ 0.5664621 ],
       [ 0.22123772],
       [ 0.564812  ],
       [ 0.3714705 ],
       [ 1.0085799 ],
       [ 0.2669817 ],
       [ 1.0673348 ],
       [ 0.25042424],
       [ 0.5664621 ],
       [ 0.5194212 ],
       [ 0.47120076],
       [ 0.24598011],
       [ 0.56352323],
       [ 0.5783287 ],
       [ 0.68459505],
       [ 0.3756788 ],
       [ 0.72692937],
       [ 0.3834644 ],
       [ 0.1987204 ],
       [ 1.0447619 ],
       [ 0.17604542],
       [ 0.574302  ],
       [ 0.15336823],
       [ 1.014131  ],
       [ 0.24303663],
       [ 0.19302267],
       [ 0.6358199 ],
       [ 0.1897001 ],
       [ 0.22119582],
       [ 0.30416563],
       [ 0.21257758],
       [ 0.96280575],
       [ 0.5767886 ],
       [ 1.0681995 ],
       [ 0.21841982],
       [ 0.70556647],
       [ 0.30228686],
       [ 0.80975056],
       [ 0.7812559 ],
       [ 1.0296916 ],
       [ 0.18136343],
       [ 0.66642505],
       [ 0.21558006],
       [ 0.20840822],
       [ 0.20451832],
       [ 0.1590546 ],
       [ 0.21827143],
       [ 0.11296497],
       [ 0.20440897],
       [ 0.18987933],
       [ 0.26510462],
       [ 0.5686257 ],
       [-0.        ],
       [ 0.214612  ],
       [ 0.99726856],
       [ 0.1728288 ],
       [ 0.26162907],
       [ 0.292472  ],
       [-0.        ],
       [ 0.21572196],
       [ 0.39418682],
       [ 1.0831846 ],
       [ 0.6818451 ],
       [ 0.1335417 ],
       [ 0.2042391 ],
       [ 0.99921143],
       [ 0.5684802 ],
       [ 0.292472  ],
       [ 0.75154126],
       [ 0.5083425 ],
       [ 0.8157698 ],
       [ 0.2119039 ],
       [ 0.6123371 ],
       [ 0.2381767 ],
       [ 0.26661447],
       [ 0.5712444 ],
       [ 0.18703613],
       [ 0.15576607],
       [-0.        ],
       [ 0.8963388 ],
       [ 0.830644  ],
       [ 0.35965475],
       [ 0.6654722 ],
       [ 0.88250875],
       [ 0.25042424],
       [ 0.5328578 ],
       [ 1.0329211 ],
       [ 1.0309564 ],
       [ 0.21638751],
       [ 0.8663336 ],
       [-0.        ],
       [ 0.21539968],
       [ 0.16692263],
       [ 0.45868647],
       [ 0.12409589],
       [ 0.7600434 ],
       [ 0.15326133],
       [ 0.7758104 ],
       [ 0.57812434],
       [ 0.2782093 ],
       [ 0.7556006 ],
       [ 0.42791522],
       [ 0.8081797 ],
       [ 0.26831535],
       [ 0.5833183 ],
       [ 0.2725292 ],
       [ 0.9615519 ],
       [ 0.19877496],
       [ 0.16695464],
       [ 0.32494095],
       [ 0.8712021 ],
       [ 0.34197402],
       [ 0.28236982],
       [ 0.39890012],
       [ 0.9834906 ],
       [ 0.7927773 ],
       [ 0.22132382],
       [ 0.8010681 ],
       [ 0.22118184],
       [ 0.96745646],
       [ 0.2099782 ],
       [ 0.1270588 ],
       [ 0.22938257],
       [ 0.34492773],
       [ 0.955914  ],
       [ 0.18211824],
       [ 0.3850838 ],
       [ 0.2268163 ],
       [ 0.38992077],
       [ 0.22646493],
       [ 0.7735661 ],
       [ 1.0370466 ],
       [ 0.97072756],
       [ 0.75777197],
       [ 0.5039169 ],
       [ 0.37165007],
       [ 0.8160627 ],
       [ 0.30351287],
       [ 0.80975056],
       [ 0.78662604],
       [ 0.22685584],
       [ 0.41667628],
       [ 0.20523036],
       [ 0.15700275],
       [ 0.18180004],
       [ 0.79588246],
       [ 0.2211703 ],
       [ 0.01840933],
       [ 0.22121447],
       [ 0.8476997 ],
       [ 0.7018399 ],
       [ 0.25034738],
       [ 0.24407318],
       [ 0.23684815],
       [ 1.0544629 ],
       [ 0.7789923 ],
       [ 0.25690916],
       [ 0.12943113],
       [ 0.20871025],
       [ 0.28388938],
       [ 0.5690809 ],
       [ 0.5768478 ],
       [ 0.6720698 ],
       [ 0.70656943],
       [ 0.1393097 ],
       [ 0.43887353],
       [ 0.5645111 ],
       [ 0.41945106],
       [ 0.14072096],
       [ 0.19308859],
       [ 0.791806  ],
       [ 0.35837555],
       [ 0.1760068 ],
       [ 0.1589045 ],
       [ 0.10053177],
       [ 0.20486042],
       [ 0.8814713 ],
       [ 0.56244624],
       [ 0.6056397 ],
       [ 0.41171908],
       [ 0.46797422],
       [ 0.23847136],
       [ 0.21526125],
       [ 0.5952349 ],
       [ 1.0034395 ],
       [ 0.58003396],
       [ 0.41228253],
       [ 0.3009296 ],
       [ 0.18737951],
       [ 0.12128881],
       [ 0.19302267],
       [ 0.1984112 ],
       [ 0.26510462],
       [ 0.3526951 ],
       [ 1.0122269 ],
       [ 0.20956168],
       [ 0.7212165 ],
       [ 0.23454216],
       [ 0.22009635],
       [ 0.2899654 ],
       [ 0.751283  ],
       [ 0.3105512 ],
       [ 0.63229287],
       [ 0.18740228],
       [ 0.3653767 ],
       [ 0.2433654 ],
       [ 0.1635589 ],
       [ 0.2739273 ],
       [ 0.30660972],
       [ 0.15879759],
       [ 0.80273795],
       [ 0.58187264],
       [ 0.26510462],
       [ 0.6003928 ],
       [ 0.2730044 ],
       [ 0.8434409 ],
       [ 1.0090823 ],
       [ 0.26831535],
       [ 0.31954286],
       [ 0.2377215 ],
       [ 0.7254236 ],
       [ 0.2393595 ],
       [ 1.1041484 ],
       [ 0.39125746],
       [-0.        ],
       [ 0.7832762 ],
       [ 0.8434409 ],
       [ 0.18782067],
       [ 1.0419796 ],
       [ 0.60232985],
       [ 1.0087276 ],
       [ 0.25427735],
       [ 0.3037814 ],
       [ 0.9911551 ],
       [ 0.25979635],
       [ 0.20139727],
       [ 0.92056   ],
       [ 1.0133799 ],
       [ 0.48809016],
       [ 0.28972787],
       [ 0.1926392 ],
       [ 0.1970272 ],
       [ 0.19307953],
       [ 0.380578  ],
       [ 0.76079047],
       [ 0.20436472],
       [ 0.14687483],
       [ 0.2211563 ],
       [ 0.16357452],
       [ 0.3692854 ],
       [ 0.9944749 ],
       [ 0.60940117],
       [ 0.19003126],
       [ 0.07169857],
       [ 1.0367093 ],
       [ 0.20407161],
       [ 0.9133854 ],
       [ 0.21556845],
       [ 0.16456813],
       [ 0.9987339 ],
       [ 0.1358954 ],
       [ 1.091123  ],
       [ 0.42534363],
       [ 0.3575039 ],
       [ 0.29578206],
       [ 0.28250545],
       [ 0.44524172],
       [ 0.6961852 ],
       [ 1.0356004 ],
       [ 0.5639295 ],
       [ 0.9864005 ],
       [ 0.12976834]], dtype=float32)

In [13]:
pred_survived = {}
for pred in zip(y_predictions, x_test['PassengerId']):
    if pred[0] > 0.7:
        pred_survived[pred[1]] = 1
    else:
        pred_survived[pred[1]] = 0

In [14]:
final_data = pd.DataFrame(list(pred_survived.items()),columns=['PassengerId','Survived'])

In [15]:
final_data.to_csv(index)

NameError: name 'index' is not defined